@import '../../../../../../scss/variables';

.filter-dd-style {
    position: relative;
    flex: 1;

    .filter-input-dropdown {
        border-radius: 0.375rem;
        height: 38px;
        border: 1px solid #ced4da;
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-size: 12px;
        display: flex;
        cursor: pointer;
        align-items: center;
        padding: 10px;
        max-width: 120px;
        margin-left: auto
    }

    .filter-input {
        @extend .filter-input-dropdown;
        background-image: none;
        cursor: text;
        width: 100%;
        margin: 8px;

    }

    .filter-dropdown {
        min-height: 200px;
        width: 323px;
        position: absolute;
        background: #fff;
        top: calc(100% + 10px);
        border: 1px solid #E4E4E4;
        padding: 20px 15px;
        border-radius: 10px;
        box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.15);
        right: 0;
        z-index: 4;

        .filter-input-field {
            border-radius: 0.375rem;
            height: 38px;
            border: 1px solid #ced4da;
            display: flex;
            padding: 10px;
        }

        h1 {
            width: 150px;
            height: 16px;
            font-family: 'Heebo';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.form-select {
    cursor: pointer;
    border-radius: 5px;
}

.filter-footer{
    background-color: #EFEFEF;
    margin: 0 -15px -20px;
    padding: 15px;
    border-radius: 0 0px 10px 10px;
}

.total {
    margin-top: 10px;


    h1 {
        font-family: Heebo;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
    }


    input[type=range] {
        -webkit-appearance: none;
        width: 280px;
        cursor: pointer;
        line-height: 16px;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 280px;
        height: 6px;
        background: #DFE7E6;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: linear-gradient(0deg, $primary, $primary),
            linear-gradient(0deg, #FFFFFF, #FFFFFF);
        border: 2px solid #FFFFFF;
        box-shadow: 0px 1px 7px 0px #00000040;
        margin-top: -4px;
        // position: absolute;
        position: calc(0);
    }

    input[type=range]:focus {
        outline: none;
    }
}