<div class="card">
    <div class="counter-grid">
        <div class="counter-col">
            <div class="counter-wrap">
                <p class="counter-title">Sold DRECs</p>
                <div class="counter">
                    <span *ngFor="let ele of getSoldDrecs()">{{ele}}</span>
                </div>
            </div>
        </div>
        <div class="counter-col">
            <div class="counter-wrap">
                <p class="counter-title">Generated DRECs</p>
                <div class="counter">
                    <span *ngFor="let ele of getGeneratedDrecs()">{{ele}}</span>
                </div>
            </div>
        </div>
        <div class="counter-col">
            <div class="counter-wrap">
                <p class="counter-title">Redeemed DRECs</p>
                <div class="counter">
                    <span *ngFor="let ele of getRedeemedDrecs()">{{ele}}</span>
                </div>
            </div>
        </div>
        <div class="counter-col">
            <div class="counter-wrap">
                <p class="counter-title">Average Price/DREC</p>
                <h1>${{avgPricePerDrecs.toFixed(2)}}</h1>
            </div>
        </div>
    </div>
</div>