<div class="onboarding-wrap h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col px-0 h-100">
        <div class="onboarding-content h-100 overflow-auto">
          <div class="onboarding-container">
            <div class="onboarding-brand my-3 pb-4">
              <img src="assets/img/drexs-logo.svg" alt="dRexs" />
            </div>
            <div class="onboarding-head my-4">
              <h2>Forgot PIN</h2>
              <p>To retrieve your PIN, an OTP will be sent to your
                registered Email & Phone number</p>
            </div>
            <form class="onboarding-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit(forgotForm)">
              <div class="mb-3">
                <label for="email" class="form-label"
                  [ngClass]="{'text-danger': forgotForm.get('emailOrPhone').invalid && (forgotForm.get('emailOrPhone').dirty || forgotForm.get('emailOrPhone').touched)}">Registered
                  Email or Phone</label>
                <input
                  [ngClass]="{'is-invalid': forgotForm.get('emailOrPhone').invalid && (forgotForm.get('emailOrPhone').dirty || forgotForm.get('emailOrPhone').touched)}"
                  id="email" formControlName="emailOrPhone" class="form-control" placeholder="Email or Phone">
                <div class="text-danger error-msg"
                  *ngIf="forgotForm.get('emailOrPhone').invalid && (forgotForm.get('emailOrPhone').dirty || forgotForm.get('emailOrPhone').touched)">
                  Email or Phone is required
                </div>
              </div>
              <button class="btn btn-primary btn-lg w-100" [disabled]="forgotForm.invalid"> Continue
                <div class="btn-loader" *ngIf="loading"> </div>
              </button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>