<div class="filter-dd-style">
  <div class="filter-input-dropdown" (click)="toggleFilter()">
      Filter
  </div>
  <div class="filter-dropdown" *ngIf="showFilter">
      
      <form [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()">
  
        <div>
          <div>
            <h1>Actions</h1>
          </div>

          <div class="input-group checkbox-group">
            <div
              class="mb-3 form-check"
              *ngFor="let actionObj of actionList; let i=index"
            >
              <input
                type="checkbox"
                class="form-check-input"
                id="{{ actionObj.label }}"
                [value]="actionObj.value"
                (change)="onActionChange($event)"
                [checked]="filterForm.controls.selectedAction.value.includes(actionObj.value)"
              />
              <label class="form-check-label" for="{{ actionObj.label }}">
                {{ actionObj.label }}
              </label>
            </div>
          </div>

          <hr />
        </div>

        
          <div>
            <div>
              <h1>Technology</h1>
            </div>

            <div class="input-group checkbox-group">
              <div
                class="mb-3 form-check"
                *ngFor="let techObj of technologyList; let i=index"
              >
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="{{ techObj.label }}"
                  [value]="techObj.value"
                  (change)="onTechnologyChange($event)"
                  [checked]="filterForm.controls.selectedTechnology.value.includes(techObj.value)"
                />
                <label class="form-check-label" for="{{ techObj.label }}">
                  {{ techObj.label }}
                </label>
              </div>
            </div>

            <hr />
          </div>

          <div>
            <h1>Issue Date</h1>
            <div class="row dash-between">
              <div class="col-6">
                <div class="form-group">
                <div class="input-group calender">
                  <ng2-flatpickr
                    placeholder="From"
                    formControlName="issueFromDate"
                    [config]="datepickerOptions"
                  ></ng2-flatpickr>
                  <span class="input-suffix border-0">
                    <img src="assets/img/icon-calender.svg" alt="" />
                  </span>
                </div>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                <div class="input-group calender">
                  <ng2-flatpickr
                    placeholder="To"
                    formControlName="issueToDate"
                    [config]="datepickerOptions"
                  ></ng2-flatpickr>
                  <span class="input-suffix border-0">
                    <img src="assets/img/icon-calender.svg" alt="" />
                  </span>
                </div>
                </div>
              </div>
            </div>
            <hr />
          </div>

          <div>
            <h1>Expiry Month</h1>

            <div class="row dash-between">

              <div class="col-6">
                <div class="form-group">
                <div class="input-group calender">
                  <ng-select
                    placeholder="From"
                    [searchable]="false"
                    [clearable]="false"
                    formControlName="expiryFromMonth"
                    [items]="monthList"
                    bindLabel="label"
                    bindValue="value"

                  >
                  </ng-select>
                  <span class="input-suffix border-0">
                    <img src="assets/img/icon-calender.svg" alt="" />
                  </span>
                </div>
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                <div class="input-group calender">
                  <ng-select
                    bindLabel="label"
                    bindValue="value"
                    placeholder="To"
                    [searchable]="false"
                    [clearable]="false"
                    [items]="monthList"
                    formControlName="expiryToMonth"
                  >
                  </ng-select>
                  <span class="input-suffix border-0">
                    <img src="assets/img/icon-calender.svg" alt="" />
                  </span>
                </div>
                </div>
              </div>
            </div>
            <hr />
          </div>

          <div>
            <div>
              <h1>Country of Issue</h1>
            </div>
            <div class="input-group checkbox-group">
              <div
                class="mb-3 form-check"
                *ngFor="let countryObj of countryList"
              >
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="{{ countryObj.label }}"
                  [value]="countryObj.value"
                  (change)="onCountryChange($event)"
                  [checked]="filterForm.controls.selectedCountry.value.includes(countryObj.value)"
                />
                <label
                  class="form-check-label"
                  for="{{ countryObj.label }}"
                >
                  {{ countryObj.label }}
                </label>
              </div>
            </div>
          </div>

          <div class="filter-footer">
            <div class="row">
              <div class="col-6">
                <button type="button" (click)="resetFilter()" class="btn btn-outline">
                  Reset
                </button>
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-primary">
                  Apply Filter
                </button>
              </div>
            </div>
          </div>
        </form>
  </div>
</div>