<div class="content-block card">
    <div class="section-head">
      
    </div>
    <div class="content-tabs">
      
        <div class="loader-wrap" *ngIf="loading">
          <app-loader></app-loader>
        </div>
        <div class="tab-content" *ngIf="!loading">
          <div class="tab-pane fade show active">
            <div class="table-responsive">
              <table class="table align-middle drex-table gray">
                <thead>
                  <tr>
                      <th scope="col">Redemptions ID</th>
                      <th scope="col">Date</th>
                      <!-- <th scope="col">Type</th> -->
                      <th scope="col">Quantity</th>
                      <th scope="col">Power Offset</th>
                      <th scope="col">Document</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData; index as i">
                    <td>{{item.id}}</td>
                    <td>{{item.date}}</td>
                    <!-- <td>{{item.type}}</td> -->
                    <td>{{item.quantity}}</td>
                    <td>{{item.powerOffset}} mWh</td>
                    <td>
                        <a href="{{item.details}}">View</a> 
                    </td>
                   

                  </tr>
                </tbody>
              </table>
           
            </div>
            <app-pagination
              [pagination]="pagination"
              [currentPage]="page"
              (changePageEvent)="onPageChange($event)"
              >
              </app-pagination>
            
          </div>
        </div>
      </div>
  </div>
  