@import '../../../../scss/variables';

.us-home-dashboard{
    padding: 1.5rem;
}

.us-marketplace{
    margin: 3.125rem 0;
}

.dapp-card{
    background-color: $white;
    box-shadow: 0px 3.125rem 2.188rem rgba(0, 0, 0, 0.05);
    border-radius: 0.563rem;
    padding: 1.5rem;
    margin-top: 0.5rem;

    .dapp-card-info{
        margin: 1rem 0;

        span{
            display: block;
            font-family: $mulish;
            font-weight: 700;
            font-size: 1.125rem;
            line-height: 1.125rem;
            color: $usm-black-900;
            margin: 0;
        }

        small{
            font-family: $mulish;
            font-weight: 400;
            font-size: 0.625rem;
            line-height: 1rem;
            color: $usm-greay;
            margin: 0;

            &.green{
                color: $usm-green;
            }

            &.red{
                color: $usm-red;
            }
        }
    }
}


.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}