<div class="onboarding-wrap h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col px-0 h-100">
        <div class="onboarding-content h-100 overflow-auto">
          <div class="onboarding-container">
            <div class="onboarding-brand my-3 pb-4">
              <img src="assets/img/drexs-logo.svg" alt="dRexs" />
            </div>
            <div class="onboarding-head my-4">
              <h2>Set New Password</h2>
              <p>Please make sure you can’t use your old password
                and set up a new strong password.</p>
            </div>
            <form class="onboarding-form" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
              <div class="mb-3">
                <label for="newPassword" class="form-label"
                  [ngClass]="{'text-danger': resetForm.get('newPassword').invalid && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)}">Password*</label>

                <div class="position-relative input-password">
                  <input type="password" class="form-control" [type]="showPassword ? 'text' : 'password'"
                    formControlName="newPassword" placeholder="Password"
                    [ngClass]="{'is-invalid': resetForm.get('newPassword').invalid && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)}">

                  <button class="btn icon-show-hide" type="button" id="basic-addon3">
                    <fa-icon *ngIf="!showPassword" (click)="showPassword = !showPassword" [icon]="faEye">
                    </fa-icon>
                    <fa-icon *ngIf="showPassword" (click)="showPassword = !showPassword" [icon]="faEyeSlash">
                    </fa-icon>
                  </button>
                </div>

                <div class="text-danger error-msg"
                  *ngIf="resetForm.get('newPassword').invalid && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
                  Password is required
                </div>
              </div>
              <div class="mb-3">
                <label for="confirmPassword" class="form-label"
                  [ngClass]="{'text-danger': resetForm.value.newPassword !== resetForm.value.confirmPassword && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched) || resetForm.get('confirmPassword').invalid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)}">Confirm
                  Password*</label>

                <div class="position-relative input-password">
                  <input type="password" class="form-control" formControlName="confirmPassword"
                    placeholder="Confirm Password" [type]="showConfirmPassword ? 'text' : 'password'"
                    [ngClass]="{'is-invalid': resetForm.value.newPassword !== resetForm.value.confirmPassword && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched) || resetForm.get('confirmPassword').invalid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)}">

                  <button class="btn icon-show-hide" type="button" id="basic-addon3">
                    <fa-icon *ngIf="!showConfirmPassword" (click)="showConfirmPassword = !showConfirmPassword"
                      [icon]="faEye">
                    </fa-icon>
                    <fa-icon *ngIf="showConfirmPassword" (click)="showConfirmPassword = !showConfirmPassword"
                      [icon]="faEyeSlash">
                    </fa-icon>
                  </button>
                </div>


                <div class="text-danger error-msg"
                  *ngIf="resetForm.get('confirmPassword').invalid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
                  Confirm Password is required
                </div>
                <div class="text-danger error-msg"
                  *ngIf="resetForm.value.newPassword !== resetForm.value.confirmPassword && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
                  Password and Confirm Password must be same
                </div>
              </div>
              <div class="password-strength mb-3">
                <h5>Strong Password</h5>
                <password-strength-meter [password]="resetForm.value.newPassword" [minPasswordLength]="8"
                  [enableFeedback]="true" (strengthChange)="changeStatePasswordChecker($event)">
                </password-strength-meter>
                <span *ngIf="showNote">Great! This will do. Make sure you don't forget them.</span>
                <div class="text-danger error-msg" *ngIf="!showNote && resetForm.value.newPassword">
                  Please enter strong password.
                </div>
              </div>
              <button class="btn btn-primary btn-lg w-100" [disabled]="resetForm.invalid ||
                resetForm.value.newPassword !== resetForm.value.confirmPassword ||
                !showNote">
                Continue <div class="btn-loader" *ngIf="loading"> </div>
              </button>
            </form>
            <div class="onboarding-foot">
              <a class="text-dark" [routerLink]="['/auth/login']" routerLinkActive="router-link-active">Back to
                login</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col px-0 d-none d-sm-block">
        <div class="onboarding-placeholder"></div>
      </div>
    </div>
  </div>
</div>