<div class="content-block">
    <div class="section-head">
      <a [routerLink]="['/pages/profile']" class="btn-reset-link">Back</a>
      <h2>Change Password</h2>
    </div>
    <div class="view-semd-box">
      <form class="onboarding-form" [formGroup]="resetForm" (ngSubmit)="onSubmit(resetForm)">
 

        <div class="mb-3">
            <label for="oldPassword" class="form-label"
              [ngClass]="{'text-danger': resetForm.get('oldPassword').invalid && (resetForm.get('oldPassword').dirty || resetForm.get('oldPassword').touched)}">Current Password</label>
            <input type="password" class="form-control" formControlName="oldPassword" placeholder="Enter your current Password"
              [ngClass]="{'is-invalid': resetForm.get('oldPassword').invalid && (resetForm.get('oldPassword').dirty || resetForm.get('oldPassword').touched)}">
            <div class="text-danger error-msg"
              *ngIf="resetForm.get('oldPassword').invalid && (resetForm.get('oldPassword').dirty || resetForm.get('oldPassword').touched)">
              Current Password is required
            </div>
          </div>


        <div class="mb-3">
            <label for="newPassword" class="form-label"
              [ngClass]="{'text-danger': resetForm.get('newPassword').invalid && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)}">New Password</label>
            <input type="password" class="form-control" formControlName="newPassword" placeholder="Enter a new password you'd like to set Password"
              [ngClass]="{'is-invalid': resetForm.get('newPassword').invalid && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)}">
            <div class="text-danger error-msg"
              *ngIf="resetForm.get('newPassword').invalid && (resetForm.get('newPassword').dirty || resetForm.get('newPassword').touched)">
              New Password is required
            </div>
          </div>
         
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              [ngClass]="{'text-danger': resetForm.value.newPassword !== resetForm.value.confirmPassword && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched) || resetForm.get('confirmPassword').invalid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)}">Confirm
              New Password</label>
            <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Repeat your new password"
              [ngClass]="{'is-invalid': resetForm.value.newPassword !== resetForm.value.confirmPassword && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched) || resetForm.get('confirmPassword').invalid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)}">
            <div class="text-danger error-msg"
              *ngIf="resetForm.get('confirmPassword').invalid && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
              Confirm New Password is required
            </div>
            <div class="text-danger error-msg"
              *ngIf="resetForm.value.newPassword !== resetForm.value.confirmPassword && (resetForm.get('confirmPassword').dirty || resetForm.get('confirmPassword').touched)">
              New Password and Confirm New Password must be same
            </div>
          </div>

          <div class="password-strength mb-3">
            <h5>Strong Password</h5>
            <password-strength-meter [password]="resetForm.value.newPassword" [minPasswordLength]="minPassLength"
              [enableFeedback]="true"
              (strengthChange)="changeStatePasswordChecker($event)">
            </password-strength-meter>
            <span *ngIf="showNote">Great! This will do. Make sure you don't forget them.</span>

            <div class="text-danger error-msg"
              *ngIf="!showNote && resetForm.value.newPassword">
              Please enter strong password.
            </div>

          </div>

          <p>
              We suggest you to have your password contain at least 1 letter, 1 number, and 1 symbol. Minimum length is {{minPassLength}} characters. 
           </p>
          <button class="btn btn-primary btn-lg w-100"
            [disabled]="resetForm.invalid ||
            resetForm.value.newPassword !== resetForm.value.confirmPassword ||
            !showNote"
            >
            Continue <div class="btn-loader" *ngIf="loading"> </div>
          </button>
      </form>
    </div>
  </div>