.content-block {
  position: relative;
  padding: 20px 30px;
}

.btn-loader {
  position: absolute;
  left: 50%;
  transform: translate(-9px, -9px);
}

.content-tabs {
  margin-top: 0;
  margin-bottom: 10px;
  height: 54px;

  .nav-pills {
    margin-bottom: 0;
    height: 100%;


    .nav-item {
      height: 100%;
      flex: 1;

      a {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #4D4D4D;

        &.active {
          background-color: transparent;
          color: #009D94;

          &::after {
            content: '';
            position: absolute;
            height: 2px;
            width: calc(100% - 20px);
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #009D94;
          }
        }
      }
    }
  }
}