@import '../../../../scss/variables';

.wrapper {
  background-color: $greay-light-200;
}

.main-content {
  flex: 1 1 auto;
  position: relative;
}
.content-block{
  position: relative;
}
.btn-loader{
  position: absolute;
  left: 50%; 
  transform: translate(-9px,-9px);
}
